<div class="container">
    <div class="row globalevent">

        <div class="col-xs-6 col-lg-6 eventgauche">
            <div class="row event">
              <div class="col-xs-4 col-lg-4">
              <img src="img/event.jpg" class="imgo">
            </div>
            <div class="col-xs-8 col-lg-8">
                <h4> Le Salon du Vin </h4>
                <p> Le {{ $ctrl.date | date:'dd-MM-yyyy' }}</p>
                <p>
                  Venez découvrir
                </p>
                <p class="option"> En savoir + </p>
              </div>
            </div>
            <div class="row thirdevent">
              <div class="col-xs-4 col-lg-4">
              <img src="img/event.jpg" class="imgo">
            </div>
            <div class="col-xs-8 col-lg-8">
                <h4> Le Salon du Vin </h4>
                <p> {{ $ctrl.date | date:'dd-MM-yyyy' }}</p>
                <p>
                  Description
                </p>
                <p class="option"> En savoir + </p>

              </div>
            </div>
            <div class="row thirdevent">
              <div class="col-xs-4 col-lg-4">
              <img src="img/event.jpg" class="imgo">
            </div>
            <div class="col-xs-8 col-lg-8">
                <h4> Le Salon du Vin </h4>
                <p> {{ $ctrl.date | date:'dd-MM-yyyy' }}</p>
                <p>
                  Description
                </p>
                <p class="option"> En savoir + </p>

              </div>
            </div>
            <div class="row thirdevent">
              <div class="col-xs-4 col-lg-4">
              <img src="img/event.jpg" class="imgo">
            </div>
            <div class="col-xs-8 col-lg-8">
                <h4> Le Salon du Vin </h4>
                <p> {{ $ctrl.date | date:'dd-MM-yyyy HH:mm:ss' }}</p>
                <p>
                  Description
                </p>
                <p class="option"> En savoir + </p>

              </div>
            </div>
        </div>
        <div class="col-xs-6 col-lg-6 eventdroit">
            <h1> Le salon du Vin </h1>
            <h3>Le {{ $ctrl.date | date:'dd-MM-yyyy' }}</h3>
            <p class="p1"> Description </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

        </div>

    </div>
</div>
