
<div class="container">
    <h1 class="text-center"> Les bons plans </h1>

    <div class="row globalevent">

        <div class="col-xs-6 col-lg-6 eventgauche">
            <div class="row event">
                <div class="col-xs-4 col-lg-4">
                    <img src="img/event/bar.jpg" class="imgo">
                </div>
                <div class="col-xs-8 col-lg-8">
                    <h4> Bar </h4>
                    <p> Le {{ $ctrl.date | date:'dd-MM-yyyy' }}</p>
                    <p>
                        Venez découvrir
                    </p>
                    <p class="option"> En savoir + </p>
                </div>
            </div>
            <div class="row thirdevent">
                <div class="col-xs-4 col-lg-4">
                    <img src="img/event/boitedenuit.jpg" class="imgo">
                </div>
                <div class="col-xs-8 col-lg-8">
                    <h4> Boîte de nuit </h4>
                    <p> {{ $ctrl.date | date:'dd-MM-yyyy' }}</p>
                    <p>
                        Description
                    </p>
                    <p class="option"> En savoir + </p>

                </div>
            </div>
            <div class="row thirdevent">
                <div class="col-xs-4 col-lg-4">
                    <img src="img/event/cinema.jpg" class="imgo">
                </div>
                <div class="col-xs-8 col-lg-8">
                    <h4> Cinéma </h4>
                    <p> {{ $ctrl.date | date:'dd-MM-yyyy' }}</p>
                    <p>
                        Description
                    </p>
                    <p class="option"> En savoir + </p>

                </div>
            </div>
            <div class="row thirdevent">
                <div class="col-xs-4 col-lg-4">
                    <img src="img/event/concert.jpg" class="imgo">
                </div>
                <div class="col-xs-8 col-lg-8">
                    <h4> Concert </h4>
                    <p> {{ $ctrl.date | date:'dd-MM-yyyy' }}</p>
                    <p>
                        Description
                    </p>
                    <p class="option"> En savoir + </p>

                </div>
            </div>
        </div>
        <div class="col-xs-6 col-lg-6 eventdroit">
            <h1> Bar </h1>
            <h3>Le {{ $ctrl.date | date:'dd-MM-yyyy' }}</h3>
            <p class="p1"> Description </p>
          <p>  Le Velvet Bar est un  bar où se mêlent des gens de tout âge, c’est un point de rencontre dans une ambiance cosy en plein cœur de CHÂTELET-LES-HALLES .

Situé au centre de Paris, l’accès est simple et bien desservi ( R.E.R, NOCTILIEN, METRO, BUS).
</p>
<p>
Dans un cadre au style urbain, le Velvet bar est un bar spécialisé dans les cocktails.

Venez déguster nos créations dans une ambiance conviviale , rythmée par les hits hip-hop d’hier et d’aujourd’hui.
</p>
<p>
La privatisation de salle pour anniversaires et autres est possible, avec un espace pouvant accueillir une centaine de personnes, avec la possibilité  d’avoir un DJ, gogo, ou autre… le velvet s’occupe de tout .



L’équipe du Velvet Bar vous attend et vous accueille du mardi au samedi inclus.</p>

        </div>

    </div>
    <div class="row agendabuttom">
    </div>
</div>
