<div class="container-fluid">
  <div class="row navcard">

    <div class="col-xs-2">
      <img src="">

    </div>

    <div class="col-xs-2">
      <img src="img/white/bonsplans_w.png" class="navcard2 center-block">
    </div>
    <div class="col-xs-2">
      <img src="img/white/quizz_w.png" class="navcard2">

    </div>
    <div class="col-xs-2">
      <img src="img/white/classement_w.png" class="navcard2">

    </div>
    <div class="col-xs-2">
      <img src="img/orange/agenda_o.png" class="navcard2">

    </div>
    <div class="col-xs-2">
      <img src="img/white/profil_w.png" class="navcard2">

    </div>

  </div>


  <div class="row">

    <div class="col-xs-6 col-lg-6">
      <div class="col-xs-12 col-lg-12 firstevent">
        <p> Évènement </p>

      </div>
      <div class="col-xs-12 col-lg-12 secondevent">
        <p> Évènement </p>

      </div>
      <div class="col-xs-12 col-lg-12 thirdevent">
        <p> Évènement </p>

      </div>

    </div>
    <div class="col-xs-6 col-lg-6">
      <h1> Évènement </h1>
      <p> Description </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

  </div>

</div>

  <!--
<div class="row">

  <div class="col-xs-3">
    <div class="text-center card">
    <div class="icon"><i class="fa fa-code"></i></div>
    <h4> Les activitées</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
  </div>
  <div class="text-center card">
  <div class="icon"><i class="fa fa-code"></i></div>
  <h4> Les activitées</h4>
  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
  <div class="col-xs-3">
    <div class="text-center card">
    <div class="icon"><i class="fa fa-code"></i></div>
    <h4> Les activitées</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
  </div>
  <div class="col-xs-3">
    <div class="text-center card">
    <div class="icon"><i class="fa fa-code"></i></div>
    <h4> Les activitées</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
  </div>

  <div class="col-xs-3">
    <div class="text-center card">
    <div class="icon"><i class="fa fa-code"></i></div>
    <h4> Les activitées</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
  </div>

</div>
<div class="row">
  <div class="col-xs-3">

    <md-card>
   <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
   <md-card-title>
     <md-card-title-text>
       <span class="md-headline">Icon action buttons</span>
     </md-card-title-text>
   </md-card-title>
   <md-card-content>
     <p>
       The titles of Washed Out's breakthrough song and the first single from Paracosm share the
       two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
     </p>
   </md-card-content>
   <md-card-actions layout="row" layout-align="end center">
     <md-button class="md-icon-button" aria-label="Favorite">
       <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
     </md-button>
     <md-button class="md-icon-button" aria-label="Settings">
       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
     </md-button>
     <md-button class="md-icon-button" aria-label="Share">
       <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
     </md-button>
   </md-card-actions>
 </md-card>
 <md-card>

  </div>

  <div class="col-xs-3">
  </div>

  <div class="col-xs-3">
  </div>

  <div class="col-xs-3">
  </div>
-->
</div>
