<div class="container-fluid" id="agenda">
<div class="row">

  <div class="col-xs-3">
    <div class="text-center card">
    <div class="icon"><i class="fa fa-code"></i></div>
    <h4> Les activitées</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="#" class="btn btn-primary center-block">Go somewhere</a>

</div>
  </div>


  <div class="col-xs-3">
    <div class="text-center card">
    <div class="icon"><i class="fa fa-code"></i></div>
    <h4> Les activitées</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="#" class="btn btn-primary center-block">Go somewhere</a>

  </div>
  </div>

  <div class="col-xs-3">
    <div class="text-center card">
    <div class="icon"><i class="fa fa-code"></i></div>
    <h4> Les activitées</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="#" class="btn btn-primary center-block">Go somewhere</a>

  </div>
  </div>

  <div class="col-xs-3">
    <div class="text-center card">
    <div class="icon"><i class="fa fa-code"></i></div>
    <h4> Les activitées</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="#" class="btn btn-primary center-block">Go somewhere</a>

  </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-3">
    <div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary center-block">Go somewhere</a>
  </div>
</div>

</div>

  <div class="col-xs-3">
    <div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary center-block">Go somewhere</a>
  </div>
</div>

  </div>

  <div class="col-xs-3">
    <div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary center-block">Go somewhere</a>
  </div>
</div>
</div>

  <div class="col-xs-3">
    <div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary center-block">Go somewhere</a>
  </div>
  </div>
</div>

</div>



</div>
