
<div class="container" id="agenda">
    <div class="row globalevent">
        <h1> L'Agenda </h1>
        <div class="col-xs-6 col-lg-6 eventgauche">
            <div class="row event">
                <div class="col-xs-4 col-lg-4">
                    <img src="img/event.jpg" class="imgo">
                </div>
                <div class="col-xs-8 col-lg-8">
                    <h4> Le Salon du Vin </h4>
                    <p> Le {{ $ctrl.date | date:'dd-MM-yyyy' }}</p>
                    <p>
                        Venez découvrir
                    </p>
                    <p class="option"> En savoir + </p>
                </div>
            </div>
            <div class="row thirdevent">
                <div class="col-xs-4 col-lg-4">
                    <img src="img/whileshesleeps.jpg" class="imgo">
                </div>
                <div class="col-xs-8 col-lg-8">
                    <h4> While She Sleeps </h4>
                    <p> {{ $ctrl.date | date:'dd-MM-yyyy' }}</p>
                    <p>
                        IBOAT
                    </p>
                    <p class="option"> En savoir + </p>

                </div>
            </div>
            <div class="row thirdevent">
                <div class="col-xs-4 col-lg-4">
                    <img src="img/leconflitdeconnards.jpeg" class="imgo">
                </div>
                <div class="col-xs-8 col-lg-8">
                    <h4> Le conflit de connards </h4>
                    <p> {{ $ctrl.date | date:'dd-MM-yyyy' }}</p>
                    <p>
                      Café-Théâtre des Chartrons, Bordeaux
                    </p>
                    <p class="option"> En savoir + </p>

                </div>
            </div>
            <div class="row thirdevent">
                <div class="col-xs-4 col-lg-4">
                    <img src="img/patinoire.gif" class="imgo">
                </div>
                <div class="col-xs-8 col-lg-8">
                    <h4> Boxers Bordeaux / Angers </h4>
                    <p> {{ $ctrl.date | date:'dd-MM-yyyy HH:mm:ss' }}</p>
                    <p>
                        PATINOIRE MERIADECK - BORDEAUX
                    </p>
                    <p class="option"> En savoir + </p>

                </div>
            </div>
        </div>
        <div class="col-xs-6 col-lg-6 eventdroit">
            <h1> Le salon du Vin </h1>
            <h3>Le {{ $ctrl.date | date:'dd-MM-yyyy' }}</h3>
            <p class="p1"> Description </p>
            <p> Etre présent à Vinexpo, c’est être au bon endroit au bon moment. Le salon est un catalyseur des échanges mondiaux avec 48 000 visiteurs professionnels de 150 pays à Bordeaux.
Côté exposants, leur nombre et nationalité confirment la dimension planétaire du salon, son rôle de carrefour du secteur, son leadership.
Vinexpo, nous en sommes convaincus, apportera les réponses aux questions que vous vous posez et vous permettra de bâtir un avenir professionnel prometteur. </p>
        </div>

    </div>

    <!--
<div class="row">

  <div class="col-xs-3">
    <div class="text-center card">
    <div class="icon"><i class="fa fa-code"></i></div>
    <h4> Les activitées</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
  </div>
  <div class="text-center card">
  <div class="icon"><i class="fa fa-code"></i></div>
  <h4> Les activitées</h4>
  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
  <div class="col-xs-3">
    <div class="text-center card">
    <div class="icon"><i class="fa fa-code"></i></div>
    <h4> Les activitées</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
  </div>
  <div class="col-xs-3">
    <div class="text-center card">
    <div class="icon"><i class="fa fa-code"></i></div>
    <h4> Les activitées</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
  </div>

  <div class="col-xs-3">
    <div class="text-center card">
    <div class="icon"><i class="fa fa-code"></i></div>
    <h4> Les activitées</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
  </div>

</div>
<div class="row">
  <div class="col-xs-3">

    <md-card>
   <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
   <md-card-title>
     <md-card-title-text>
       <span class="md-headline">Icon action buttons</span>
     </md-card-title-text>
   </md-card-title>
   <md-card-content>
     <p>
       The titles of Washed Out's breakthrough song and the first single from Paracosm share the
       two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
     </p>
   </md-card-content>
   <md-card-actions layout="row" layout-align="end center">
     <md-button class="md-icon-button" aria-label="Favorite">
       <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
     </md-button>
     <md-button class="md-icon-button" aria-label="Settings">
       <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
     </md-button>
     <md-button class="md-icon-button" aria-label="Share">
       <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
     </md-button>
   </md-card-actions>
 </md-card>
 <md-card>

  </div>

  <div class="col-xs-3">
  </div>

  <div class="col-xs-3">
  </div>

  <div class="col-xs-3">
  </div>
-->
    <div class="row agendabuttom">
    </div>
</div>
