<div class="container">

  <div class="row profilbuttom">
  </div>

    <div class="row">

        <div class="col-xs-2 col-lg-2">
          <img src="img/avatar-01.png">
            <img src="img/bleu/score_b.png">
        </div>

        <div class="col-xs-7 col-lg-6">
            <h1> Anthony </h1>
            <h4 class="text-center"> 10 000 pts </h4>
            <div class="middle">
                <p class="p1"> Description </p>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            </div>
        </div>


        <div id="right">
        <div class="col-xs-3 col-lg-4">

          <div class="col-xs-12 col-lg-12 border">


            <h5> Anthony </h5>
            <img src="img/bleu/picto_score-01.png" class="pull-right">
            <p class="p1"> Tu es en première position </p>
            <p><span class="glyphicon glyphicon-star"></span> Challenge réalisés : 10
              <br>
              <span class="glyphicon glyphicon-refresh"></span> Challenge en cours : 2
            </p>
          </div>

          <div class="col-xs-12 col-lg-12 border">
            <h5> Louis </h5>
            <img src="img/bleu/picto_score-02.png" class="pull-right">
            <p class="p1"> Deuxième position </p>
            <p><span class="glyphicon glyphicon-star"></span> Challenge réalisés : 7
              <br>
              <span class="glyphicon glyphicon-refresh"></span> Challenge en cours : 2
            </p>
          </div>

          <div class="col-xs-12 col-lg-12 border">
            <h5> Nicolas </h5>
            <img src="img/bleu/picto_score-03.png" class="pull-right">
            <p class="p1"> Troisième position </p>
            <p><span class="glyphicon glyphicon-star"></span> Challenge réalisés : 4
              <br>
              <span class="glyphicon glyphicon-refresh"></span> Challenge en cours : 0
            </p>
          </div>

          <div class="col-xs-12 col-lg-12 border">
            <h5> Karl </h5>
            <img src="img/bleu/picto_score-04.png" class="pull-right">
            <p class="p1"> Quatrième position
            </p>
            <p><span class="glyphicon glyphicon-star"></span> Challenge réalisés : 3
              <br>
              <span class="glyphicon glyphicon-refresh"></span> Challenge en cours : 2
            </p>
          </div>

          <div class="col-xs-12 col-lg-12 border">
            <h5> Benjamin </h5>
            <img src="img/bleu/picto_score-05.png" class="pull-right">
            <p class="p1"> Cinquième position </p>
            <p><span class="glyphicon glyphicon-star"></span> Challenge réalisés : 1
              <br>
              <span class="glyphicon glyphicon-refresh"></span> Challenge en cours : 1
            </p>
          </div>

        </div>
      </div>


    </div>


    <div class="row profilbuttom">
    </div>

</div>
