#homepage.form-control {
     text-align: center;
 }

 homepage {
     margin: auto;
     position: absolute;
     top: 105px;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100%;
     text-align: center;
     background-image: url("/img/giphy.gif");
     background-repeat: no-repeat;
     background-size: cover;
 }

 .home-content {
     margin: 90px 0 50px 0;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 180px;
     text-align: center;
 }
.enbas {
  margin: 30px;
}
.imghome {
  height: 300px;
  width: auto;
}
.homebas {
  height: 200px;
}
.subscribe-form-submit {
  background-color: rgb(207, 106, 0) !important;
  color: white;

}
.subscribe-form-submit:hover {
  background-color: #00C4B1;
  color: white !important:;
  border: 2px white solid !important;
}
button {
  border-radius: 0px !important;

}
/*.saisir {
  width: 280px;
}*/
.homelogo {
  
}
