


#carousel {
  position: absolute;
  top: 40px;
  left: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.card {
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 1s;
  transition: 1s;
}
.card:nth-child(1) {
  -webkit-transform: translateX(0) translateZ(0);
          transform: translateX(0) translateZ(0);
  background: #add8e6;
}
.card:nth-child(2) {
  -webkit-transform: translateX(-55%) translateZ(-50px) scale(0.8);
          transform: translateX(-55%) translateZ(-50px) scale(0.8);
  background: #ff7f50;
}
.card:nth-child(3) {
  -webkit-transform: translateX(55%) translateZ(-50px) scale(0.8);
          transform: translateX(55%) translateZ(-50px) scale(0.8);
  background: #7fff00;
}



.glyphicon-chevron-right{
  margin-left: 500px;
}

#carousel{
  margin-top: 50px;
}

#quizbtns{
  margin-top: 50px;
}
.base-class {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.base-class.my-class.card {
  width: 800px;
  height: 800px;
  padding-left: 0px;
  font-size:3em;
}
