
<div id="homepage"class="container">
<h1> Qui êtes vous?</h1>
    <div class="row">
       <div class="col-lg-6">
           <div class="input-group">
             <input type="text" class="form-control" placeholder="Search a city" ng-model="user.city">
             <span class="input-group-btn">
               <button class="btn btn-secondary" type="button">Go!</button>
             </span>

             <input type="text" class="form-control " placeholder="Search a profession" ng-model="user.work">
             <span class="input-group-btn">
               <button class="btn btn-secondary" type="button">Go!</button>
             </span>
           </div>
         </div>
       </div>
    </div>
