




<homepage>
    <div class="home-content">
        <h1> Qui êtes vous?</h1>

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search a city" ng-model="user.city">
                        <span class="input-group-btn">
               <button class="btn btn-secondary" type="button" style="background-color: blue;">Search</button>
             </span>

                        <input type="text" class="form-control" placeholder="Search a profession" ng-model="user.work">
                        <span class="input-group-btn">
               <button class="btn btn-secondary" type="button"style="background-color: blue;">Search</button>
             </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</homepage>
<footer></footer>
